{% extends 'base.html.twig' %}

{% block title %}{{ outing.name }}{% endblock %}

{% block body %}
    <main>
        <section id="outing-hero">
            <div id="outing-image" style="background-image: url('{{ asset('uploads/outings/'~outing.outingImage.name) }}');"></div>
            <div id="hero-box">
                <h1 class="fc-fg margin-bottom">{{ outing.name }}</h1>
                {% if app.user in outing.participants %}
                    <a href="{{ path('unregister', {id: outing.id}) }}" class="btn bg-action fc-fg margin-top">Me désinscrire</a>
                {% else %}
                    <a href="{{ path('register', {id: outing.id}) }}" class="btn bg-cta fc-fg margin-top">M'inscrire</a>
                {% endif %}
            </div>
        </section>
        <section class="bg-fg main-padding">
            <h2 class="margin-bottom">Détails de la sortie</h2>
            <div class="two-cols">
                <div class="details-container">
                    <div>
                        <div>Date et heure :</div>
                        <div>{{outing.dayAndTime|date('d/m/Y')}} à {{outing.dayAndTime|date('H:i')}}</div>
                    </div>
                    <div>
                        <div>Date limite d'inscription :</div>
                        <div>{{ outing.closingDate|date('d/m/Y') }}</div>
                    </div>
                    <div>
                        <div>Places restantes :</div>
                        <div>{{ outing.capacity - outing.participants|length }} / {{ outing.capacity }}</div>
                    </div>
                    <div>
                        <div>Tarif par personne :</div>
                        <div>{{ outing.fare }} euros</div>
                    </div>
                </div>
                <div class="details-container">
                    <div>
                        <div>Campus :</div>
                        <div>{{ outing.campus.name }}</div>
                    </div>
                    <div>
                        <div>Lieu :</div>
                        <div>{{ outing.location.place }}</div>
                    </div>
                    <div>
                        <div>Rue :</div>
                        <div>{{ outing.location.streetNb }} {{ outing.location.street }}</div>
                    </div>
                    <div>
                        <div>Ville :</div>
                        <div>{{ outing.location.city }}, {{ outing.location.zip }}</div>
                    </div>
                </div>
            </div>
            <div class="margin-top">
                <h2 class="margin-bottom">Description</h2>
                <div class="description-box">
                    {{ outing.description }}
                </div>
            </div>
        </section>
        <section class="main-padding bg-dark">
            <h2 class="fc-fg">Inscriptions</h2>
            <div class=two-cols>
                <table>
                    <thead class="fc-fg">
                    <tr>
                        <th>Campus</th>
                        <th>Pseudos</th>
                        <th>Noms</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in outing.participants %}
                        <tr>
                            <td>{{ participant.campus.name }}</td>
                            <td>{{ participant.userName }}</td>
                            <td>{{ participant.firstName }} {{ participant.lastName }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="center-v-h fc-fg">
                    <p>Il reste {{ outing.capacity - outing.participants|length }} places !</p>
                    <a href="" class="btn bg-cta">M'inscrire à cette sortie</a>
                </div>
            </div>

        </section>
    </main>
{% endblock %}
