{% extends 'base.html.twig' %}

{% block title %}{{ target_user.userName }}{% endblock %}

{% block body %}
    <main>
        <section class="bg-fg main-padding before-header">
            <h2 class="margin-bottom">{{ target_user.userName }}</h2>
            <div class="two-cols">
                <div class="details-container">
                    <img src="{{ asset('uploads/users/'~target_user.profileImage.name) }}" alt="Profile picture for {{ target_user.userName }}">
                </div>
                <div class="details-container">
                    <div>
                        <div>Prénom :</div>
                        <div>{{ target_user.firstName }}</div>
                    </div>
                    <div>
                        <div>Nom :</div>
                        <div>{{ target_user.lastName }}</div>
                    </div>
                    <div>
                        <div>Campus :</div>
                        <div>{{ target_user.campus.name }}</div>
                    </div>
                    <div>
                        <div>Email :</div>
                        <div>{{ target_user.email }}</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
